ORACLE_OCI/instantclient-basiclite-win-x86-64-11.1.0.7.0.zip
ORACLE_OCI/instantclient-basiclite-win64-10.2.0.5.zip
ORACLE_OCI/instantclient-basiclite-windows.x64-11.2.0.4.0.zip
ORACLE_OCI/instantclient-basiclite-windows.x64-12.1.0.2.0.zip
ORACLE_OCI/instantclient-basiclite-windows.x64-12.2.0.1.0.zip
ORACLE_OCI/instantclient-basiclite-windows.x64-18.5.0.0.0dbru.zip
ORACLE_OCI/instantclient-basiclite-windows.x64-19.15.0.0.0dbru-2.zip
ORACLE_OCI/instantclient-basiclite-windows.x64-21.6.0.0.0dbru.zip
WPy64-3980